<% include header %>

<% contact.forEach(function(contact){ %>
    <div>
        Email: <%=contact.email%><br>
        Phone: <%=contact.phone%><br>
        Message: <%=contact.message%><br>
        Contact Preference:  <%=contact.contactType%><br>
        License checkbox: <%=contact.license%><br>
    </div>
    <div class="row">
            <div class="col"><hr></div>
        </div>

<%}) %>

<% include footer %>
