<% include header %>

<% contact.forEach(function(contact){ %>
    <div>
        Email: <%=contact.email%><br>
        Phone: <%=contact.phone%><br>
        Message: <%=contact.message%><br>
        Contact Preference:  <%=contact.contactType%><br>
        License checkbox: <%=contact.license%><br>
        Messaged this person? <%=contact.contacted%><br>
        Id: <%=contact._id%><br>
    </div>
    <form  action="/contact/<%=contact._id %>/contacted?_method=PUT" method="POST">
<input type="submit">
        </form>

        <!-- <form action="/contact" method="UPDATE">
            <input type="submit" class='btn btn-danger'value="Delete">
            </form> -->
<%}) %>

<% include footer %>
