<% include header %>

<% contact.forEach(function(contact){ %>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>What</th>
                <th>Info</th>
            </tr>
        </thead>
        <tr>
            <th scope = 'col'>Email</th>
            <th scope = 'col'><%=contact.email%></th>
        </tr>
        <tr>
            <th scope = 'col'>Phone</th>
            <th scope = 'col'><%=contact.phone%></th>
        </tr>
        <tr>
            <th scope = 'col'>Message</th>
            <th scope = 'col'><%=contact.message%></th>
        </tr>
        <tr>
            <th scope = 'col'>License checkbox</th>
            <th scope = 'col'><%=contact.license%></th>
        </tr>
        <tr>
            <th scope = 'col'>Contact Preference</th>
            <th scope = 'col'><%=contact.contactType%></th>
        </tr>
        <tr>
            <th scope = 'col'>Submitted</th>
            <th scope = 'col'><%=contact.created%></th>
        </tr>
        <tr>
            <th scope = 'col'>Talked with this person?</th>
            <th scope = 'col'><%=contact.contacted%></th>
        </tr>
        <tr>
            <th scope = 'col'>Id</th>
            <th scope = 'col'><%=contact._id%></th>
        </tr>
        <tr>
            <th scope = 'col'>My Notes</th>
            <th scope = 'col'><%=contact.danielnotes%></th>
        </tr>
    </table>

    <form  action="/contact/<%=contact._id %>/contacted?_method=PUT" method="POST">
                <textarea name="danielnotes" rows=3 ></textarea><br>
                <input type="submit">
        </form>

<%}) %>

<% include footer %>
